{% extends "navbar.html" %}
{% block content %}
<div class="container">
    <h1 class="display-3 text-center">Register</h1>

    {% if user_exists %}
    <div class="user-exists-alert alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Username already taken!</strong> Please try a different username.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <form action="/register" method="post" enctype="multipart/form-data">

        <div class="form-group">
            <div class="preview">
                <img id="file-ip-1-preview">
            </div>
            <label for="file-upload">Upload Profile Picture</label><br>
            <input type="file" id="file-upload" name="file-upload" accept="image/*" onchange="showPreview(event);">
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="Enter username" required>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
        </div>

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Name" required>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script type="text/javascript">
    function showPreview(event) {
        if (event.target.files.length > 0) {
            var src = URL.createObjectURL(event.target.files[0]);
            var preview = document.getElementById("file-ip-1-preview");
            preview.src = src;
            preview.height = 150;
            preview.width = 150;
            preview.style.display = "block";
        }
    }
</script>
{% endblock %}